/* Sidebar.module.css */
.sidebar {
  background-color: white;
  width: 270px;
  height:100%;
  transition: margin-left ease-in-out 0.5s;
  position: fixed;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*padding-left:20px;*/
  font-family: "Campton", sans-serif;
  box-shadow: 3px 3px 1px 0 rgba(0,0,0,0.1);


}

.sidebarHidden {
  margin-left: -250px;
}

.sidebarVisible {
  margin-left: 0;
}

.menuItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 0.3rem;
  margin-left:5px;
  margin-right:5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5%;
  padding-bottom: 5%;
  /*border-bottom: 5px solid rgba(255, 255, 255, 0.1);*/
  color: black;
  background: white;
  flex-grow: 0;
  cursor: pointer;
  border-radius:25px;
  transition: background 0.6s ease, opacity 0.8s ease, padding-left 0.6s ease, padding-right 0.6s ease;
}
.menuItem:nth-child(1) {
  margin-top: 50px; /* Push the fourth item and the ones after it to the bottom */
}

.menuItem:nth-child(6) {
  margin-top: 300px; /* Push the fifth item and the ones after it to the bottom */
}

.menuItem:hover {
  color: #fff;
  /*background-color: rgb(113, 64, 222);*/
  background: linear-gradient(to bottom right, rgb(206, 176, 255), rgb(164, 138, 255));
}

.activeMenuItem {
  color: #fff;
  background: linear-gradient(to bottom right, rgb(179, 133, 255), rgb(83, 32, 252));
  /*box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);*/
}

.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.menuIcon{
  width:23px;
  height:23px;
  filter: brightness(0);
}

.activeMenuIcon {
  filter: brightness(100);
  width:23px;
  height:23px;
}