/* Sidebar.module.css */
.sidebar {
  background-color: white;
  width: 210px;
  height:90%;
  transition: margin-left ease-in-out 0.5s;
  position: fixed;
  top: 2%;
  bottom: 0;
  left: 20px;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  font-family: "Campton", sans-serif;
  box-shadow: 10px 10px 10px 9px rgba(0,0,0,0.5);
}

.sidebarHidden {
  margin-left: -250px;
}

.sidebarVisible {
  margin-left: 0;
}

.menuItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 27%;
  padding-bottom: 27%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  color: black;
  background-color: white;
  flex-grow: 1;
  border-radius: 50px;
  cursor: pointer;
}

.menuItem:hover {
  color: rgb(113, 64, 222);
}

.activeMenuItem {
  color: rgb(113, 64, 222);
}

.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.menuIcon{
  width:28px;
  height:28px;
  filter: brightness(0);
}

.activeMenuIcon {
  filter: brightness(1);
  width:28px;
  height:28px;
}