body {
    background-image: none;
    background-color: lightgrey;

}

p {
    position: absolute;
    left: 10em;
    top: 23%;
    transform: translateY(-50%);
    width: 82%;

    font-weight: bold;
    font-family: "Campton", sans-serif;
    font-size: 1.5em;
    color:black;
}

.pageContainer {
    background-color: lightgrey;
    border-radius: 10px;
    padding:20px;
    border-color:white;
}


.SignUpBtn {
    background-color: green;
    color: black;
    font-weight: bold;
    font-family: "Campton", sans-serif;
    font-size: 96;
    border-radius: 10px;
    padding: 50px 130px;
    position:absolute;
    bottom:200px;
    left:1000px;
    transition: padding 0.7s ease;
}
.SignUpBtn:hover {
    padding: 40px 95px; /* Increase the padding values as desired */
}

.bigSectionBG{
    background-color:#FFF;
    padding:30px;
    border-radius:10px;
    display:flex;
    max-width:60%;
    left:50%;
    position:relative;
    transform: translateX(-40%) translateY(5%);

}
.topChartClass{
    left: 25%;
    width: 700px;
    height: 350px;
    padding: 20px;
    cursor: pointer;
    position:relative;    

}