html,body {
    background-image: none;
    background-color: lightgrey;
    border-radius:200px;
    border-color:white;
    height:100%;
    font-family: "Campton", sans-serif;
    color:black;
}

p {
    /*position: absolute;*/
    left: 3em;
    top: 23%;
    /*transform: translateY(-50%);*/
    width: 82%;

    font-weight: bold;
    font-family: "Campton", sans-serif;
    font-size: 1.5em;
    color:black;
    z-index: 1;
}

h3, h2 {
    color:black;
    font-family: "Campton", sans-serif;
    z-index:1;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
.form__group__watchlist {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 30%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.1rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.1rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #9b9b9b;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 0.8rem;
        color: #7140DEFF;
        font-weight:700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    /*border-image: linear-gradient(to right, #11998e,#38ef7d);*/
    border-image: linear-gradient(to right, #7140DEFF,#7140DE77);
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}
.submit-button {
    position:fixed;
    background-color: #7140DEFF;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    width: 150px;
    height: 50px;
    border-radius: 5%;
    transition: background 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
    transform: translateX(150%) translateY(-10%);
}

.submit-button:hover {
    background-color: #5a2cb7;
    font-size: 32px;
}

.submit-button::after {
    content: "➔";
    position: relative;
    right: -2px;
}


.stockDisplayList{
    position:absolute;
    left: 4em;
    top: 41%;
    transform: translateY(-50%);
    width: 82%;
    font-family: "Campton", sans-serif;
    font-size: 1.2em;
    color:black;
}

.stockDisplayListWatchlist{
    position:absolute;
    left: 4em;
    top: 41%;
    /*transform: translateY(-70%);*/
    width: 82%;
    font-family: "Campton", sans-serif;
    font-size: 1.2em;
    color:black;
}

.stockDisplayListItem:hover{
    color:darkgray;
    cursor:pointer;
}

.pageContainer {
    background-color: lightgrey;
    border-radius: 10px;
    padding:20px;
    border-color:white;
}


.SignUpBtn {
    background-color: green;
    color: black;
    font-weight: bold;
    font-family: "Campton", sans-serif;
    font-size: 96;
    border-radius: 10px;
    padding: 50px 130px;
    position:absolute;
    bottom:200px;
    left:1000px;
    transition: padding 0.7s ease;
}
.SignUpBtn:hover {
    padding: 40px 95px; /* Increase the padding values as desired */
}

.bigSectionBG{
    background-color:#FFF;
    padding:30px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    max-width:60%;
    max-height: 45vh;
    left:50%;
    position:relative;
    transform: translateX(-40%) translateY(20%);
    /*max-height: 60%;*/

}
.bigSectionBGText{
    font-size: 1.5em;
    font-family: "Campton", sans-serif;
    color:black;
    margin-bottom: 20px;
}

.topChartClass{
    flex:1;
    left: 40%;
    width: 500px;
    height: 250px;
    padding: 5px;
    cursor: pointer;
    position:relative;

}

.topChartClassWatchlist{
    flex:1;
    left: 40%;
    width: 500px;
    height: 250px;
    padding: 5px;
    cursor: pointer;
    position:relative;
    transform:translateY(-30%);

}

.bottomRightSectionBG {
    background-color: #FFF;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*max-width: 50%;*/
    left: 50%;
    position: relative;
    transform: translateX(19%) translateY(20%);
    width:45%;

}
.bottomLeftSectionBG {
    background-color: #FFF;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*max-width: 50%;*/
    left: 50%;
    position: relative;
    transform: translateX(-107%) translateY(-76%);
    width:50%;
}

.bottomRightSectionBGHome {
    background-color: #FFF;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*max-width: 50%;*/
    left: 50%;
    position: relative;
    transform: translateX(19%) translateY(1%);
    width:45%;

}

.bottomLeftSectionBGHome {
    background-color: #FFF;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*max-width: 50%;*/
    left: 50%;
    position: relative;
    transform: translateX(-107%) translateY(-90%);
    width:50%;
}

.bottomRightChartClass{
    left: 10%;
    width: 70%;
    height: 70%;
    padding: 5px;
    cursor: pointer;
    position:relative;
}

.newsFont{
    font-size: 18px;
}

.stockIncrease{
    color: green;
    font-size:16px;
}

.stockDecrease{
    color: red;
    font-size: 16px;
}

.About-Us{
    max-height: 100%;
}

.Contact{
    max-height: 100%;
    transform: translateX(-50%) translateY(50%);
    transform: ;
}