.navbar {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    margin-top:0.1%;
    left:20%;
    z-index: 40;
    position: fixed;
    width:90vw;
    max-height: 40px;

}
.navLink {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Campton-Bold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: background-color 0.6s ease, opacity 0.8s ease, padding-left 0.6s ease, padding-right 0.6s ease; /* Updated */
    padding: 10px 100px;
    width:50%;
    /* transition-duration: 0.7s; */
}

.navLinkUserButton{
    display: flex;
    justify-content: right;
    align-items: center;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Campton-Bold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: background-color 0.6s ease, opacity 0.8s ease, padding-left 0.6s ease, padding-right 0.6s ease; /* Updated */
    padding: 10px 100px;
    width:50%;
    transform:translateX(-30%)
}

/*.navLink:hover,*/
/*.navLink:active {*/
/*    background-color: #f0f0f0;*/
/*    color: blue;*/
/*    border-radius: 2px;*/
/*    opacity: 0.8; !* Updated *!*/
/*    padding-right: 300px; !* Added *!*/
/*    padding-left:300px;*/
/*}*/
.searchBar {
    /* flex-grow: 1; */
    max-width: 450px;
    margin-right: 60px;
    padding: 0.05rem;
    border-radius: 30px;
    left: 960px;
    border: none;
    background-color: white;
    color: black;
    /*make the text in the middle of the search bar*/
    text-align: center;
    height:20px;
    transition: background-color 0.6s ease, opacity 0.8s ease, padding-left 0.6s ease, padding-right 0.6s ease; /* Updated */
}

.cl-userButton-root{
    /*position:fixed;*/

    transform:translateX(-100%);

}
/*.searchBar:hover {*/
/*    padding-right: 300px; !* Added *!*/
/*    padding-left:300px;*/
/*}*/

/*.searchBar:focus {*/
/*    padding-right: 300px; !* Added *!*/
/*    padding-left:300px;*/
/*}*/