.navbar {
    display: flex;
    justify-content: center;
    margin-top:0.5%;
    z-index: 40;

}
.navLink {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Campton-Bold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: background-color 0.6s ease, opacity 0.8s ease, padding-left 0.6s ease, padding-right 0.6s ease; /* Updated */
    padding: 10px 100px;
    /* transition-duration: 0.7s; */
}

.navLink:hover,
.navLink:active {
    background-color: #f0f0f0;
    color: blue;
    border-radius: 2px;
    opacity: 0.8; /* Updated */
    padding-right: 300px; /* Added */
    padding-left:300px;
}
.searchBar {
    /* flex-grow: 1; */
    margin-right: 60px;
    padding: 0.05rem;
    border-radius: 30px;
    left: 960px;
    border: none;
    background-color: white;
    color: black;
    transition: background-color 0.6s ease, opacity 0.8s ease, padding-left 0.6s ease, padding-right 0.6s ease; /* Updated */
}
.searchBar:hover {
    padding-right: 300px; /* Added */
    padding-left:300px;
}

.searchBar:focus {
    padding-right: 300px; /* Added */
    padding-left:300px;
}